* {
	margin:0;
	padding:0;
	border:0;
	font-family: Verdana;
}

html,body {
    border: 0px solid #000;
    width: 90%;
    margin: auto auto;
    height:100%;
    text-align: center;
   }

p {
  height:100%;
    border: 0px solid #000;
    width: 70%;
    margin: auto auto;
    height:100%;
    text-align: center;
}

#masthead,
#primary {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
#masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
